<div class="mid">
  <div class="container">
    <div class="heading">Sign In</div>
    <form id="login-form" action="" class="form">
      <input required="" class="input" type="email" name="email" id="email" placeholder="E-mail">
      <input required="" class="input" type="password" name="password" id="password" placeholder="Password">
      <span class="forgot-password"><a href="#">Forgot Password ?</a></span>
      <input class="login-button  text-stone-500 hover:scale-110 transition duration-500 hover:bg-stone-500 hover:text-slate-50 cursor-pointer" type="submit" value="Sign In">
    </form>
    <div class="social-account-container text-center">
      <span class="social-account">Don't have an account, <a class="no-underline text-stone-500" href="/reg">Click here</a></span>
    </div>
    <span class="agreement"><a href="#">Learn user licence agreement</a></span>
  </div>
</div>