
<div id="default-carousel" class="relative w-full" data-carousel="slide">
  <!-- Carousel wrapper -->
  <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
       <!-- Item 1 -->
      <div class="hidden duration-700 ease-in-out " data-carousel-item>
          
        <img src="https://images.unsplash.com/photo-1579541591970-e5780dc6b31f?w=1087&auto=format&h=500&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fFJlbmFpc3NhbmNlJTIwJTIwYXJ0fGVufDB8fDB8fHww" class="absolute opacity-60 block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 " alt="...">
        <div class="py-28 px-16">
        <h1 class="title-font  font-bold sm:text-3xl text-2xl mb-4 font-black text-gray-900">Rennaissance Art
          <br class="hidden lg:inline-block">
        </h1>
        <p class="leading-relaxed mb-8 text-2xl font-serif test-wrap">The style of painting, sculpture and decorative arts, <br>
          identified with the Renaissance emerged in Italy in the late 14th century.</p><br><br> 
      </div>
      </div>
      <!-- Item 2 -->
      <div class="hidden duration-700 ease-in-out " data-carousel-item>
          <a href=""></a><img src="https://images.unsplash.com/photo-1598565061654-9339be95a371?w=1087&h=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OTB8fHNjdWxwdHVyZXN8ZW58MHx8MHx8fDA%3D" class="absolute opacity-55 block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
          <div class="py-28 px-16">
            <h1 class="title-font  font-bold sm:text-3xl text-2xl mb-4 font-black text-gray-900">Sculptures
              <br class="hidden lg:inline-block">
            </h1>
            <p class="leading-relaxed mb-8 text-2xl font-serif test-wrap">Sculpture is a three-dimensional art form that <br> involves working hard or plastic materials into objects. <br> It's a branch of visual arts and a plastic art.</p><br><br> 
          </div>
      </div>
      <!-- Item 3 -->
      <div class="hidden duration-700 ease-in-out " data-carousel-item>
          <img src="https://images.unsplash.com/photo-1695844031702-b6d9271d888d?w=1087&h=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8UG9zdCUyMEltcHJlc3Npb25pc20lMjAlMjBhcnR8ZW58MHx8MHx8fDA%3D" class="absolute opacity-55 block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
          
          <div class="py-28 px-16">
            <h1 class="title-font  font-bold sm:text-3xl text-2xl mb-4 font-black text-gray-900">Post-Impressionsm Art
              <br class="hidden lg:inline-block">
            </h1>
            <p class="leading-relaxed mb-8 text-2xl font-serif test-wrap">Post-Impressionism is an art movement that developed in <br> France between 1886 and 1905. It is a reaction to the Impressionist movement's <br> focus on the objective depiction of light and color.</p><br><br> 
               </div>
      </div>
      <!-- Item 4 -->
      <div class="hidden duration-700 ease-in-out " data-carousel-item>
          <img src="https://images.unsplash.com/photo-1704905638155-ab1a19a35f22?w=1087&h=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8RXhwcmVzc2lvbmlzbSUyMCUyMCUyMGFydHxlbnwwfHwwfHx8MA%3D%3D" class="absolute opacity-55 block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
          
          <div class="py-28 px-16">
            <h1 class="title-font  font-bold sm:text-3xl text-2xl mb-4 font-black text-gray-900">Expressionism Art
              <br class="hidden lg:inline-block">
            </h1>
            <p class="leading-relaxed mb-8 text-2xl font-serif test-wrap">Expressionism is an art movement that began <br> in Germany in the early 20th century,
             It tends to be emotional and sometimes mystical. <br> It can be seen as an extension of Romanticism.</p><br><br> 
          </div>
      </div>
      <!-- Item 5 -->
       <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img src="https://plus.unsplash.com/premium_photo-1682125164600-e7493508e496?w=1087&h=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8UG9wJTIwYXJ0fGVufDB8fDB8fHww" class="absolute opacity-55 block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
           <div class="py-28 px-16">
            <h1 class="title-font  font-bold sm:text-3xl text-2xl mb-4 font-black text-slate-900">Pop Art
              <br class="hidden lg:inline-block">
            </h1>
            <p class="leading-relaxed mb-8 text-2xl font-serif test-wrap">Pop art was defined as a diverse response to the postwar era's commodity-driven values,<br> often using commonplace objects (such as comic strips, soup cans,<br> road signs, and hamburgers) as subject matter or as part of the wor</p><br><br> 
          </div>
      </div>
      
  </div>
  <!-- Slider indicators -->
  <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
      <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
  </div>
  <!-- Slider controls -->
  <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
          <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
          </svg>
          <span class="sr-only">Previous</span>
      </span>
  </button>
  <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
          <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
          </svg>
          <span class="sr-only">Next</span>
      </span>
  </button>
</div>

<!-- Category Start -->
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-3xl text-2xl font-black title-font mb-4 font-sans text-gray-900">Art Categories</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep jianbing selfies heirloom.</p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
         <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="https://i0.wp.com/hyperallergic-newspack.s3.amazonaws.com/uploads/2022/06/DSC_0307-scaled.jpg?fit=1200%2C800&quality=100&ssl=1&w=600&h=360">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100 hover:scale-100 transition duration-500 ease-in-out">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">------</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3 font-extrabold ">Commercial Art</h1>
            <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="https://pics.craiyon.com/2023-09-18/53def85fb8cd4a48a9b69648243087df.webp">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100 hover:scale-100 transition duration-500 ease-in-out">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">------</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3 font-extrabold hover:scale-100 transition duration-500 ease-in-out">Sculptures</h1>
            <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="https://artincontext.org/wp-content/uploads/2021/08/Famous-Renaissance-Art-and-Paintings.jpg?fit=1200%2C800&quality=100&ssl=1&w=603&h=363">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100 hover:scale-100 transition duration-500 ease-in-out">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">------</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3 font-extrabold">Renaissance Arts</h1>
            <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="https://t4.ftcdn.net/jpg/05/35/24/93/360_F_535249340_rERxSZmFo5LC3ZLUulwZpZhNxzWdV8DV.jpg">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100 hover:scale-100 transition duration-500 ease-in-out">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">------</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3 font-extrabold">Expressionism Art</h1>
            <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="https://t3.ftcdn.net/jpg/07/27/81/78/360_F_727817811_zhDf3zmnNA2YKUvFjyUdOq2qKRRagO6T.jpg">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100 hover:scale-100 transition duration-500 ease-in-out">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">------</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3 font-extrabold">Post-impressionism Art</h1>
            <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="https://thumbs.dreamstime.com/b/cars-retro-pop-art-style-step-vibrant-world-art-automobiles-artistic-image-featuring-cars-transformed-283874299.jpg">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100 hover:scale-100 transition duration-500 ease-in-out">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">------</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3 font-extrabold">Pop Art</h1>
            <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Category End -->

<!-- Popular Arts Start -->
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="flex w-full mb-20 flex-wrap px-8">
      <h1 class="sm:text-3xl text-2xl font-black font-sans title-font text-gray-900 lg:w-1/3 lg:mb-0 mb-4">Popular Picks</h1>
      <p class="lg:pl-6 lg:w-2/3 mx-auto leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep jianbing selfies heirloom.</p>
    </div>
    <div class="flex flex-wrap md:-m-2 -m-1 px-24">
      <div class="flex flex-wrap w-1/2">
        <div class="md:p-2 p-1 w-1/2">
          <img alt="gallery" class="object-cover h-full object-center block hover:scale-110 hover:transition hover:duration-500 hover:ease-in-out" src="https://images.unsplash.com/photo-1567061698906-fc74288ce52a?w=500&h=300&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8RXhwcmVzc2lvbmlzbSUyMCUyMCUyMGFydHxlbnwwfHwwfHx8MA%3D%3D">
        </div>
        <div class="md:p-2 p-1 w-1/2">
          <img alt="gallery" class="w-full object-cover h-full object-center block hover:scale-110 hover:transition hover:duration-500 hover:ease-in-out" src="https://images.unsplash.com/photo-1541961017774-22349e4a1262?w=501&h=301&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDZ8fEV4cHJlc3Npb25pc20lMjAlMjAlMjBhcnR8ZW58MHx8MHx8fDA%3D">
        </div>
        <div class="md:p-2 p-1 w-full">
          <img alt="gallery" class="w-full h-full object-cover object-center block hover:scale-110 hover:transition hover:duration-500 hover:ease-in-out" src="https://images.unsplash.com/photo-1579762715118-a6f1d4b934f1?w=600&h=360&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGNvbW1lcmNpYWwlMjBhcnQlMjBnYWxsZXJpZXN8ZW58MHx8MHx8fDA%3D">
        </div>
      </div>
      <div class="flex flex-wrap w-1/2">
        <div class="md:p-2 p-1 w-full">
          <img alt="gallery" class="w-full h-full object-cover object-center block hover:scale-110 hover:transition hover:duration-500 hover:ease-in-out" src="https://rukminim2.flixcart.com/image/850/1000/jgwkzgw0/poster/h/r/t/small-krmsp4-dpost-indian-art-painting-mahabharat-contemporary-original-imaf5fcdgkgz8rjt.jpeg?q=90&w=601&h=361&crop=false">
        </div>
        <div class="md:p-2 p-1 w-1/2">
          <img alt="gallery" class="w-full object-cover h-full object-center block hover:scale-110 hover:transition hover:duration-500 hover:ease-in-out" src="https://images.unsplash.com/photo-1611923973164-e0e5f7f69872?w=502&h=302&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTR8fHNjdWxwdHVyZXMlMjBvZiUyMG9iamVjdHMlMjAlMjBhcnR8ZW58MHx8MHx8fDA%3D">
        </div>
        <div class="md:p-2 p-1 w-1/2">
          <img alt="gallery" class="w-full object-cover h-full object-center block hover:scale-110 hover:transition hover:duration-500 hover:ease-in-out" src="https://images.unsplash.com/photo-1578301978018-3005759f48f7?w=503&h=303&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fGNvbW1lcmNpYWwlMjBhcnQlMjBnYWxsZXJpZXN8ZW58MHx8MHx8fDA%3D">
        </div>
      </div>
      <div class="flex flex-wrap md:-m-2 -m-1">
        <div class="flex flex-wrap w-1/2">
          <div class="md:p-2 p-1 w-1/2">
            <img alt="gallery" class="w-full object-cover h-full object-center block hover:scale-110 hover:transition hover:duration-500 hover:ease-in-out" src="https://images.unsplash.com/photo-1577083165633-14ebcdb0f658?w=500&h=300&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fGNvbW1lcmNpYWwlMjBhcnQlMjBnYWxsZXJpZXN8ZW58MHx8MHx8fDA%3D">
          </div>
          <div class="md:p-2 p-1 w-1/2">
            <img alt="gallery" class="w-full object-cover h-full object-center block hover:scale-110 hover:transition duration-500 hease-in-out" src="https://images.unsplash.com/photo-1579762593131-b8945254345c?w=501&h=301&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8Y2FycyUyMHBvcCUyMGFydHxlbnwwfHwwfHx8MA%3D%3D">
          </div>
          <div class="md:p-2 p-1 w-full">
            <img alt="gallery" class="w-full h-full object-cover object-center block hover:scale-110 hover:transition hover:duration-500 hover:ease-in-out" src="https://images.unsplash.com/photo-1580136579312-94651dfd596d?w=600&h=360&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fFJlbmFpc3NhbmNlJTIwJTIwYXJ0fGVufDB8fDB8fHww">
          </div>
        </div>
        <div class="flex flex-wrap w-1/2">
          <div class="md:p-2 p-1 w-full">
            <img alt="gallery" class="w-full h-full object-cover object-center block hover:scale-110 hover:transition hover:duration-500 hover:ease-in-out" src="https://shop.cogindia.art/cdn/shop/products/RajibGainMahabharatawashpainting.jpg?v=1677158423&width=601&h=361">
          </div>
          <div class="md:p-2 p-1 w-1/2">
            <img alt="gallery" class="w-full object-cover h-full object-center block hover:scale-110 hover:transition hover:duration-500 hover:ease-in-out" src="https://images.unsplash.com/photo-1578301978693-85fa9c0320b9?q=80&w=503&h=302&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
          </div>
          <div class="md:p-2 p-1 w-1/2">
            <img alt="gallery" class="w-full object-cover h-full object-center block hover:scale-110 hover:transition hover:duration-500 hover:ease-in-out" src="https://images.unsplash.com/photo-1579783902614-a3fb3927b6a5?w=503&h=303&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8UmVuYWlzc2FuY2UlMjAlMjBhcnR8ZW58MHx8MHx8fDA%3D">
          </div>
        </div>
        </div>
    </div>
  </div>
</section>

<!-- Popular Art End -->

<!-- Footer Start-->
<section id="contact" class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-col">
    <div class="lg:w-4/6 mx-auto">
      <div class="flex flex-col sm:flex-row mt-10">
        <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
          <div class="flex flex-col items-center text-center justify-center">
            <h2 class="font-medium title-font mt-4 text-gray-900 text-lg">Contact Us</h2>
            <div class="w-12 h-1 bg-stone-500 rounded mt-2 mb-4"></div>
            <p class="text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi similique quam fugit nemo cupiditate iusto maxime nisi at illum. Quos hic esse veniam minima alias voluptate odit aperiam illo eligendi?</p>
          </div>
        </div>
        <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
          <div class="w-2/3">
      
      <div class="relative mb-4">
        <label for="full-name" class="leading-7 text-sm text-gray-600">Full Name</label>
        <input type="text" id="full-name" name="full-name" class="w-full bg-white rounded border border-gray-300 focus:border-stone-500 focus:ring-2 focus:ring-stone-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
      </div>
      <div class="relative mb-4">
        <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
        <input type="email" id="email" name="email" class="w-full bg-white rounded border border-gray-300 focus:border-stone-500 focus:ring-2 focus:ring-stone-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
      </div>
      <button class="text-white bg-stone-500 border-0 py-2 px-8 focus:outline-none hover:bg-stone-600 rounded text-lg">Send</button>
      <p class="text-xs text-gray-500 mt-3">Literally you probably haven't heard of them jean shorts.</p>
    </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Footer End -->