<html>

<body>
    <h1 class="text-stone-500 font-serif font-black items-center text-center text-8xl font-sans py-10">
       Art Gallery
      </h1>
      <br>
      
<header class="bg-gray-50 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row  items-center">

      <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center font-sans font-bold justify-center">
        <a class="mr-10  flex mx-auto   border-0 py-2 px-8    rounded-lg hover:bg-stone-500 hover:scale-110 transition duration-500 ease-in-out hover:text-slate-50 rounded text-stone-500 text-lg" href="/">Home</a>
         <a class="mr-10 flex mx-auto  border-0 py-2 px-8   rounded-lg hover:bg-stone-500 hover:scale-110 transition duration-500 ease-in-out hover:text-slate-50 rounded text-stone-500 text-lg" href="/gallery">Gallery</a> 
          <a class="mr-10 flex mx-auto  border-0 py-2 px-8   rounded-lg hover:bg-stone-500 hover:scale-110 transition duration-500 ease-in-out hover:text-slate-50 rounded text-stone-500 text-lg" href="/about">About</a> 
          <a class="mr-10 flex mx-auto  border-0 py-2 px-8   rounded-lg hover:bg-stone-500 hover:scale-110 transition duration-500 ease-in-out hover:text-slate-50 rounded text-stone-500 text-lg" href="#contact">Contact Us</a> 
 </nav>
 <a href="/signin" routerLinkActive="active" class="inline-flex items-center bg-stone-500 border-0 py-1 font-sans font-bold px-3 focus:outline-none hover:scale-110 transition duration-500 ease-in-out rounded-full text-slate-50 text-base mt-4 md:mt-0 ">Login </a>
  </div>
</header> 
      <router-outlet></router-outlet>
</body>


</html>